header{
    text-align: center;
}
.header-container{
    padding: 20px 100px;
    text-align: center;
}
.header-container img{
    width: 250px;
}
input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid #00A97F;
    background-color: transparent;
    caret-color: #00A97F;
    outline: none;
    color: white;
    font-size: 1.125rem;
    margin: 0;
  }
